/* .features-content-data span {
    background-color: #b0b9b0;
} */

/* bg-#70a970 */
.span-1 {
    background-color: #70a970;
}

.span-2 {
    background-color: #b0b9b0;
}

.span-3 {
    background-color: rgb(114, 159, 173);
}