.nav-content {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.icon {
    display: none;
}

@media(max-width:765px) {
    .nav-content {
        display: none;
    }

    .icon {
        display: block;
    }
}

@media(min-width:765px) {
    .responsive {
        display: none;
    }
}

.responsive {
    position: absolute;
    right: 0px;
    top: 60px;
    left: 0px;
}